body{
font-family:Arial;
background: radial-gradient(circle,#1b1b1b,#000);
color:white;
text-align:center;
margin:0;
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
}

.title{
font-size:90px;
margin-top:20px;
}

.screen{
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
}

.hidden{
display:none;
}

input{
padding:12px;
font-size:18px;
width:250px;
text-align:center;
}

button{
padding:12px 25px;
font-size:18px;
border:none;
background:#00c3ff;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#009ed1;
}

#bag{
display:flex;
gap:10px;
margin:20px;
flex-wrap:wrap;
justify-content:center;
}

.ball{
width:50px;
height:50px;
border-radius:50%;
}

.red{background:red;}
.blue{background:blue;}
.green{background:green;}

.choices{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.logicBox{
display:flex;
flex-direction:column;
gap:10px;
}

.character{
position:fixed;
bottom:20px;
right:20px;
width:200px;
}

.avatar{
width:80px;
height:80px;
background:#00c3ff;
border-radius:50%;
animation:float 2s infinite;
}

#characterText{
background:#222;
padding:10px;
border-radius:10px;
margin-top:5px;
font-size:14px;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}
}
